.button {
  width: 147px;
  color: #ffffff;
  font-size: 18px;
  background: #536dfe;
  border: none;
  padding: 17px 5px;
  box-sizing: border-box;

  &:hover,
  &:active {
    background: #394795;
    transition: .4s;
  }
}