.card-item {

  &__information {
    padding: 10px;

    @include desktop {
      width: 320px;
    }
  }

  &__model {
    font-size: 12px;
    color: $card-color;
  }

  &__name {
    font-size: 24px;
    color: $card-color;
    margin-top: 0;
    margin-bottom: 28px;

    span {
      font-size: 29px;

      @include desktop {
        display: block;
      }
    }
  }

  &__about {
    font-size: 17px;
    color: #646b6f;
    margin-bottom: 35px;
  }

  &__description {
    color: $card-color;
    font-size: 14px;
    margin-bottom: 35px;
    line-height: 23px;

    span {
      color: #536dfe;
    }
  }

  &__spec {
    color: #536dfe;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-left: 26px;

    &:after {
      position: absolute;
      content: "";
      background: url("../img/spec-icon.png") no-repeat 0 0;
      top: 0;
      left: 0;
      width: 17px;
      height: 17px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
  }

  @include desktop {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
  }
}