.choose-product {

  &__price {
    color: $red-color;
    font-size: 26px;
    margin-bottom: 10px;
  }

  &__price-info {
    font-size: 12px;
    color: #aeb2b4;

    @include desktop {
      margin-top: 10px;
    }
  }

  &__block {
    @include desktop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__button {
    width: 25px;
    height: 25px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-left: 18px;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: 0px 0px 3px 1px #aebaff;
    }
  }
  
  &__text {
    font-size: 13px;
    color: #37474f;

    @include desktop {
      margin-bottom: 15px;
    }
  }

  &__choose-color {
    margin-bottom: 40px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
  }
}

.color-black {
  background: #000000;
}

.color-grey {
  background: #e8e6e3;
}

.active-choose-button {
  box-shadow: 0 0 4px 4px #aebaff;
}