.count {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__label {
    font-size: 13px;
    color: #37474f;
  }
  
  &__field {
    color: #403f40;
    font-size: 18px;
    width: 52px;
    height: 46px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    text-align: center;
    margin-left: 9px;

    &:hover,
    &:active {
      border-color: #625e5e;
      transition: .5s;
    }

    @include placeholder {
      color: #403f40;
      font-size: 18px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    button {
      width: 30px;
      height: 23px;
      position: relative;
      background: transparent;
      border: none;
      font-size: 0;

      &:after {
        position: absolute;
        content: "";
        background: url("../img/arrow.png") no-repeat 0 0;
        width: 10px;
        height: 7px;
        top: 6px;
        left: 10px;
      }
      
      &[disabled] {
        opacity: .2;
      }
    }
  }

  &__minus {

    &:after {
      transform: rotate(180deg);
    }
  }
}