.crypto-product {
  padding-top: 77px;

  @media screen and (max-width: 425px){
    padding-top: 0;
  }

  &__wrapper {
    min-height: 466px;
    background: url("../img/decorative-dots.png") no-repeat 0 0;
    position: relative;

    @media screen and (max-width: 768px){
      min-height: 415px;
    }

    &:after,
    &:before {
      position: absolute;
      content: '';
      width: 325px;
      height: 270px;

      @media screen and (max-width: 768px){
        width: 195px;
        height: 158px;
      }

    }

    &:after {
      background: url("../img/coins.png") no-repeat 0 0;
      top: 8%;
      right: 3%;

      @media screen and (max-width: 768px){
        top: auto;
        left: auto;
        bottom: 0;
        background-size: cover;
      }
    }

    &:before {
      background: url("../img/crypto-bag.png") no-repeat 0 0;
      top: -16%;
      left: 50%;

      @media screen and (max-width: 768px){
        top: auto;
        left: 0;
        bottom: 0;
        background-size: cover;
      }
    }
  }

  .container {
    padding-left: 64px;

    @media screen and (max-width: 425px){
      padding-left: 20px;
    }
  }

  &__title {
    width: 50%;
    margin: 0 0 97px 0;

    @media screen and (max-width: 768px){
      margin-bottom: 40px;
      width: 100%;
    }
  }
}