.header {

  &__container {
    display: flex;
    //justify-content: space-between;
  }

  &__top {
    min-height: 98px;
    display: flex;
    align-items: center;
  }

  &__bottom {
    background: #000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 145px;
    margin-top: 3px;
  }
}

.location {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #E62A3C;
  margin-bottom: 5px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/location.png") no-repeat 0 0;
    top: 1px;
    left: -10px;
    width: 9px;
    height: 8px;
  }
}

.phone {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-family: Gilroy-SemiBold, sans-serif;
  margin-bottom: 5px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/arrow.png") no-repeat 0 0;
    width: 9px;
    height: 7px;
    right: -21px;
    top: 5px;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    background: url("../img/phone.png") no-repeat 0 0;
    width: 20px;
    height: 20px;
    left: -38px;
    top: -3px;
  }
}

.consultation {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #BEBEBE;
  border-bottom: 1px dashed;
  width: 94px;
}