.online-recording {
  font-family: Gilroy-SemiBold, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: #E62A3C;
  border-radius: 50.5px;
  width: 176px;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 10px rgba(230,42,60,0.12);
}