.popup-cart {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  z-index: 5;
  padding: 80px 70px 80px 70px;
  box-sizing: border-box;

  @include mobile {
    width: 370px;
  }

  &__count-product {
    background: url("../img/cart-black.png") no-repeat 0 0;
    top: 80px;
    left: 92px;
  }
  
  &__text {
    margin-top: 120px;
    color: #b3b6b8;
    font-size: 12px;
    margin-bottom: 30px;
  }

  &__button {
    width: 100%;
  }

  &__subtotal {
    margin-bottom: 45px;

    p {
      font-size: 12px;
      color: #aeb2b4;
      margin-bottom: 12px;
    }
  }

  &__total-price {
    color: #263238;
    font-size: 18px;
  }
}