.rating {
  margin-bottom: 26px;

  &__reviews {
    color: $red-color;
    font-size: 15px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type="checkbox"] {
      display: none;
    }


    input[type="checkbox"] + label {
      display: block;
      width: 11px;
      height: 11px;
      background: #cccccc;
      border-radius: 50%;
    }


    input[type="checkbox"]:checked + label {
      background: #fccf47;
    }
  }
}