.submenu-list {
  position: absolute;
  //display: none;
  width: 364px;
  background: #FFFFFF;

  @include list-reset;
  padding: 20px 0;
  top: 70px;
  left: -43px;
}

.submenu-list {
  display: none;
}

.submenu-list--body,
.submenu-list--kind {
  left: 100%;
}

.submenu-list__item {
  position: relative;

  svg {
    position: absolute;
    right: 37px;
    top: 16px;
    stroke: #979797;
  }

  &:hover {
    svg {
      stroke: #E01B1B;
    }
  }
}

.submenu-list__link {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  line-height: 42px;
  color: #000000;
  padding: 0 41px;
  display: block;

  &:hover {
    color: #E01B1B;;
    background: rgba(224, 27, 27, 0.1);
    transition: 0.5s;
  }
}

.submenu-list--body {
  top: -62px;
}

.submenu-list--kind {
  top: -20px;
}

.submenu {

  &:hover {
    .submenu-list--services {
      display: block;
    }
  }
}

.submenu-first {

  &:hover {
    .submenu-list--body {
      display: block;
    }
  }
}

.submenu-second {

  &:hover {
    .submenu-list--kind {
      display: block;
    }
  }
}
