html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, p {
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  @include list-reset;
}

.crypto-description {
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 0.02em;

  @media screen and (max-width: 425px){
    font-size: 16px;
  }
}

.crypto-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 150.04%;
  color: #076572;

  @media screen and (max-width: 768px){
    font-size: 30px;
  }
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: 425px){
    max-width: none;
    width: 100%;
  }

}

.crypto-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  width: 147px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    fill: #1991EB;
  }

  &:hover svg {
    fill: #F7931A;
  }

  @media screen and (max-width: 768px){
    font-size: 20px;
  }
}