html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/main-bg.jpg") no-repeat 0 0;
  background-size: cover;
  position: relative;
  padding: 20% 10% 10% 10%;

  @include desktop {
    padding: 140px 70px 70px 70px;
    @include center;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.46);
  z-index: 4;
}

.popup-cart {
  display: none;
}

.show {
  display: block;
}