doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='css/style.min.css')
        title Crypto
    body
        include common/header.pug
        main
            include common/welcome.pug
            include common/crypto-products.pug
            include common/crypto-chart.pug
            include common/crypto-wallets.pug
        include common/footer.pug

        script(src='js/script.min.js')