.card-item
    include slider.pug
    .card-item__information
        .card-item__wrapper
            p.card-item__model
                | Model:
                span 505795
            a.card-item__spec(href='#') spec
        h1.card-item__name
            span MOMENTUM&reg;
            | &#x9;&#x9;&#x9;&#x9;&#x9;Wireless Black
        p.card-item__about Wireless headphones with integrated microphone
        p.card-item__description
            | Peak performance with active noise cancelation. Sennheiser&apos;s new MOMENTUM Wireless -
            | Closed circumaural headphone featuring
            span Bluetooth&reg;
            |  wireless technology and NoiseGard
            | &#x9;&#x9;&#x9;&#x9;&#x9;Hybrid active noise cancelation
        include rating.pug
        include choose-product.pug