table.crypto-table
    caption.crypto-table__caption Basic example
    tr.crypto-table__row
        th.crypto-table__cell.crypto-table__cell--small #
        th.crypto-table__cell ID
        th.crypto-table__cell Name
        th.crypto-table__cell Symbol
        th.crypto-table__cell Price in USD
    tr.crypto-table__row
        td.crypto-table__data
        td.crypto-table__data
        td.crypto-table__data
        td.crypto-table__data
        td.crypto-table__data