footer.footer
    .footer__wrapper.container
        .footer__section
            include socials.pug
            include subscription
        .footer__section.footer__section--navigation
            ul.navigation
                li.navigation__item
                    a(href='#').navigation__link About Us
                li.navigation__item
                    a(href='#').navigation__link Contact Us
            ul.navigation
                li.navigation__item
                    a(href='#').navigation__link FAQ
                li.navigation__item
                    a(href='#').navigation__link Back to top