section.intro
    h1.intro__title Buy and Sell Cryptos easier than ever
    p.intro__description
       | With our new finance app, you will ever be on track
       |of all transactions in a smart and easy way.
