nav.main-navigation
    ul.main-navigation__list
        li.main-navigation__item
            a(href='#about-us').main-navigation__link About
        li.main-navigation__item
            a(href='#crypto-product').main-navigation__link Products
        li.main-navigation__item
            a(href='#crypto-chart').main-navigation__link Rate
        li.main-navigation__item
            a(href='#support').main-navigation__link Support
