article.product
    button.product__delete(type='button' aria-label='Удалить товар')
    a.product__photo(href='#')
        img(src='img/wireless-black.png' alt='MOMENTUM® Wireless Black')
    a.product__name(href='#') MOMENTUM&reg; Wireless Black
    span.product__price $499.95