.rating
    p.rating__buttons
        input#rating-1(type='checkbox' checked='')
        label(for='rating-1')
        input#rating-2(type='checkbox' checked='')
        label(for='rating-2')
        input#rating-3(type='checkbox' checked='')
        label(for='rating-3')
        input#rating-4(type='checkbox' checked='')
        label(for='rating-4')
        input#rating-5(type='checkbox')
        label(for='rating-5')
    p.rating__reviews
        span 4.25
        include reviews.pug