.slider
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                img.card-item__photo.slider__img(src='img/wireless-black.png' alt='Wireless Black')
            .swiper-slide
                img.card-item__photo.slider__img(src='img/wireless-black-2.png' alt='Wireless Black')
            .swiper-slide
                img.card-item__photo.slider__img(src='img/wireless-black-3.png' alt='Wireless Black')
        .swiper-buttons
            .swiper-button-prev
            .swiper-button-next
        .swiper-pagination