section.subscription
    h4.subscription__title Get Updates from us
    form(action='#' method='post').subscription__form
        input(type='email' placeholder='Type Email address' required).subscription__field
        button(type='submit').subscription__submit Send
