section.welcome#about-us
    .container
        h2.welcome__title Welcome to crypto
        p.welcome__description.crypto-description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor
            | imperdiet tincidunt. Nullam nec nulla tortor. Maecenas eros est, tempus
            | sed placerat non, laoreet vitae diam. Aenean eu pretium risus. Pellentesque
            | vel lorem tempus, aliquet justo eleifend, commodo nunc. Aliquam sed libero
            | malesuada, venenatis augue in, ornare lectus. Praesent convallis luctus risus,
            | nec iaculis lectus luctus nec. Suspendisse ut pharetra sapien. Donec mi enim,
            | auctor eu semper id, tincidunt a est. Donec justo arcu, rutrum porta urna in,
            | interdum pulvinar ante. Praesent a elementum augue.